/*


GENERAL STYLING


*/
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https: //fonts.googleapis.com/css?family=Rubik'); 
html {
    background-color: #F49110;
    
}
/*



MENU BAR STYLING




*/
 /* Dropdown Button */
 .dropbtn {
     background-color: white;
     color: #F49110;
     padding: 43px 0px;
     font-size: 26px;
     border: none;
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
    text-align: center;
     position: relative;
     display: inline-block;
     
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F49110;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-size: 22px;
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {
     background-color: #7cadc8;
 }

 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
    display: block;
    background:#F49110; 
 }

 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {
    width:100%; 
    background-color: #F49110;
    color:white; 
 }

#container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    background:none; 
    background-color: #F49110;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
}
#accBar {
    display:flex;
    flex-direction:row; 
    justify-content: space-between;
    background:rgb(40, 40, 40); 
   
}
#devInfo, #accLinks {
    width:45%;
    display:flex;
    flex-direction:row; 
    justify-content: space-evenly;
}
#accBar * {
    color: #F49110;
    font-size: 18px;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
}
#menuBar {
    background:white; 
    align-self:center;
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    box-shadow: 0 0 30px rgb(40,40,40);
    height: 125px;
}
.menuItem {
    border-right:2px solid #F49110;
    width:90%; 
    display:flex;
    flex-direction:column; 
    justify-content: center;
    text-align:center; 
}
/*



HOME PAGE BODY STYLING





*/
#bodyContainer {
    width:100%;
    display:flex;
    flex-direction:column;
    background:#F49110; 
    justify-content:center;
}
.contentBox {
    align-self:center; 
    margin:20px; 
    width:40%;
    height:253px; 
    background:rgb(40,40,40);
    border-radius:28px;
    border: 3px solid #7cadc8;
    
}

.contentBox img {
    height:247px;
    width:100%; 
    border-radius:25px; 
}


#shopNow {
    align-self: center;
    width:20%;
    height:75px;
    background: rgb(40, 40, 40);
    border-radius: 25px;
    border: 3px solid #7cadc8;
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
    font-size:46px; 
    display:flex;
    flex-direction:row; 
    justify-content: space-around;
    color: #7cadc8;
}
.contentBox p {
    margin:45px 30px 30px 2px; 
    color:#7cadc8;
    font-size:30px; 
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
}
