/*


GENERAL STYLING


*/
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https: //fonts.googleapis.com/css?family=Rubik'); 
html {
    background-color: #F49110;
    
}
.emphasis a:hover {
    text-decoration:none;
    color:#7cadc8; 
}
.emphasis {
    font-size:xx-large; 
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
}
#line {
    width: 80%;
    height: 2px;
    background-color: black;
    position:relative;
}
#hacked h1 {
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-align: center;

}

#hacked {
    background:#F49110; 
    margin: 80px 0px;
}
/*



MENU BAR STYLING




*/
 /* Dropdown Button */
 .dropbtn {
     background-color: white;
     color: #F49110;
     padding: 43px 0px;
     font-size: 26px;
     border: none;
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
    text-align: center;
     position: relative;
     display: inline-block;
     
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F49110;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     font-size: 22px;
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {
     background-color: #7cadc8;
 }

 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
    display: block;
    background:#F49110; 
 }

 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {
    width:100%; 
    background-color: #F49110;
    color:white; 
 }

#container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    background:none; 
    background-color: #F49110;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
}
#accBar {
    display:flex;
    flex-direction:row; 
    justify-content: space-between;
    background:rgb(40, 40, 40); 
   
}
#devInfo, #accLinks {
    width:45%;
    display:flex;
    flex-direction:row; 
    justify-content: space-evenly;
}

#accLinks a{
    text-decoration:none; 
    box-shadow: inset 0 0 0 0 #F49110;
    color: #F49110;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#accLinks a:hover{
    box-shadow: inset 100px 0 0 0 #F49110;
    color: white;
}
#accBar * {
    color: #F49110;
    font-size: 18px;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
}
#menuBar {
    background:white; 
    align-self:center;
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    box-shadow: 0 0 30px rgb(40,40,40);
    height: 125px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.menuItem, .menuItem2, .menuItem3 {
    
    width:90%; 
    display:flex;
    flex-direction:column; 
    justify-content: center;
    text-align:center; 
}
.menuItem, .menuItem2 {
    border-right: 2px solid #F49110;
}
.menuItem3 #login button {
    width:90%;
    padding:10px;
    font-size:24px; 
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
    color:#F49110;
    border-radius:25px; 
    border:3px solid #F49110; 
    background: none;
    transition:0.1s ease-in-out; 
}
.menuItem3 #login button:hover {
    color:white; 
    background-color: #F49110;
}
.menuItem2 form {
    width:90%; 
    display:flex;
    flex-direction:row; 
    align-self: center;
} 
.menuItem2 input {
    width:80%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 3px solid #F49110; 
    padding:17px; 
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
}
.menuItem2 button {
    width: 30%;
    border: 3px solid #F49110;
    border-left:none;
    background:none; 
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    color:#F49110;
}
.menuItem2 button:hover {
    
    color:white; 
    background:#F49110;
    transition: 0.1s ease-in-out;
}
.menuItem2 input:focus { 
    outline:1px solid #bc700c;
}
.menuItem h2 {
   color:#F49110; 
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size:24px; 
}

.menuItem h2 a:hover {
    color:rgba(244, 145, 16, 0.619); 
}
/*



HOME PAGE BODY STYLING





*/
#bodyContainer {
    width:100%;
    display:flex;
    flex-direction:column;
    background:#F49110; 
    justify-content:center;
}
.contentBox {
    align-self:center; 
    margin:20px; 
    width:40%;
    height:253px; 
    background:rgb(40,40,40);
    border-radius:28px;
    border: 3px solid #7cadc8;
    position:relative; 
}

.contentBox img {
    height:247px;
    width:100%; 
    border-radius:25px; 
    display:block; 
}
/* OVER LAY CSS */
.overlay {
    border-radius:25px; 
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(64, 64, 64, 0.606);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.contentBox:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    color: #7cadc8;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/*OVERLAY CSS END */ 
#shopNow {
    align-self: center;
    width:20%;
    height:75px;
    background: rgb(40, 40, 40);
    border-radius: 25px;
    border: 3px solid #7cadc8;
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
    font-size:46px; 
    display:flex;
    flex-direction:row; 
    justify-content: space-around;
    color: #7cadc8;
}
.contentBox p {
    margin:45px 30px 30px 2px; 
    color:#7cadc8;
    font-size:26px; 
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
}
/*



PRODUCT PAGE STYLING




*/
#bodyContainer {
    padding:0px 10%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
}

#row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
}
.matBox h1{
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
}
.matBox a {
    
    font-size: 18px;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif; 
}

.matBox a:hover {
    color:#bc700c; 
}
.matOps{
    position:absolute; 
}

.matBox {
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    background:rgb(64, 64, 64);
    box-shadow: 0 0 10px black; 
    padding-bottom:40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% 2.5% 2.5% 0;
    width: 30%;
    height:325px;  
    color:#F49110; 
    text-align:center; 
}

.matBox img {
    height: 250px;
    width: 100%;
}



.productLinks {
    display: flex;
    flex-direction: row;
}

.productLinks button {
    margin-left: 100%;
    color: #F49110;
    border: none;
    background: none;
    font-size: 28px;
}
.favButton {
    position:relative;
    margin-left:auto; 
}
.favForm button i:hover {
    transition: 0.15s ease-in-out;
    color: #F49110;
}

.favForm2 button i:hover {
    transition: 0.15s ease-in-out;
    color: rgb(23, 23, 23);
}

.favForm button {
    color: rgb(23, 23, 23);
}

.favForm2 button {
    color: #F49110;
}
#bodyContainer a {
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size:32px; 
}
/*





PRODUCT DETAIL PAGE STYLING




*/
#showContainer .emphasis a {
    text-decoration: none;
    margin-left: 20%;  
}
#showContainer .emphasis a:hover {
    color:#7cadc8; 
}
.ratingsAvg {
    font-size:24px; 
}

#showContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size:32px; 
    background:#F49110;
}

#showContainer #desc {
    font-family:'Rubrik', Arial, Helvetica, sans-serif; 
    font-size:14px; 
}

#itemContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-self: center;
    margin: 20px;
    background:white;
    box-shadow: 0px 0px 20px rgb(40,40,40);
    padding: 20px;
}


#showImg img {
    height: 275px;
    padding: 20px;
}

#showDetails {
    display: flex;
    flex-direction: column;

}

#showDetails * {
    margin: 5px 0px;
}
#showContainer h1{
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
    color:#F49110; 
    font-size:42px; 
}


#subtitles {
    display: flex;
    flex-direction: row;
}

#line {
    width: 80%;
    height: 1px;
    background-color: gray;
}

#quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#addCartButton button {
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size:24px;
    background-color:#F49110;
    box-shadow:0 0 5px black; 
}

#reviewContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    margin: 20px;
    background: white;
    box-shadow: 0px 0px 20px black;
    padding: 20px;
   
}
.reviews {
    box-shadow:0 0 5px black;
    padding:10px; 
    margin:20px 0px; 
    border-radius:20px
}
.reviewBox {
    padding: 25px 50px;
    border-radius: 25px;
    height: 250px;
    overflow-y: scroll;
    margin-bottom: 25px;
    font-size:14px; 
    font-family:'Rubrik', Arial, Helvetica, sans-serif; 
}
.reviewBox h3 {
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
    font-size:28px; 
}
#reviewContainer a {
    color:#F49110;
    text-decoration: underline;
}
#reviewContainer a:hover {
    color:#bc700c; 
}
.discount {
    text-decoration: line-through;
    font-size:22px; 
    padding-top:15px; 
}
#subtitles .emphasis {
    margin-left: 20px;
    color:#F49110;
    font-size:36px;
}
#noMatch h1{
    margin-top:50px; 
    margin-bottom:150px; 
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
    font-size:46px; 
    text-align:center;
}
#reviewInput input{
    border:1px solid #F49110; 
    width:90%;
    height:50px; 
    padding:5px; 
    margin:10px 0px; 
    font-size:14px; 
    font-family:'Rubrik', Arial, Helvetica, sans-serif; 
    
}
#reviewInput input:focus {
    outline: 1px solid #bc700c; 
}
.rating {
    border:none; 
}
.createSubmit3 button {
    background-color: #7cadc8;
    border: none;
    box-shadow: 0 0 10px black;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 32px;
    width:90%; 
}
.createSubmit3 {
    margin:20px 0px; 
    display: flex;
    justify-content: center;
    
}
.createSubmit3 button:hover {
    background-color: #F49110;
    color: black;
    transition: 0.15s ease-in-out;
}
/* 


EXTERNAL RATING CSSS


*/
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    margin:0; 
    padding:0; 
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: #F49110;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #F49110;
}
/*




CART MODAL STYLING



*/

#cartOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

#deleteCart button,
#purchaseCart button {
    width: 245px;
    padding: 10px 20px;
    border: none;
    font-family: 'Rubrik', Arial, Helvetica, sans-serif;
}

#deleteCart button {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: black;
    color: #F49110
}

#deleteCart button:hover {
    background-color: rgba(0, 0, 0, 0.815);
    color: #ffc400d9
}

#purchaseCart button {
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: #F49110;
    color: black;
}

#purchaseCart button:hover {
    background-color: #ffc400d9;
    color: rgba(0, 0, 0, 0.815);
}

#clearCart button {
    font-size: 18px;
    padding: 0 10px 0 10px;
    color: #F49110;
    background-color: white;
    border: none;
}

#clearCart button:hover {
    color: #ffc400da;
}

.cartItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.cartInfo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    padding: 0 10px;
}

#cartImg img {
    width: 150px;
    height: 100px;
    border-radius: 5%;
    margin: 20px;
}

.cartDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Rubrik', Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 5px;
    width: 100%;
}

.quantityInput input {
    border: 1px solid #F49110;
    border-radius: 5px;
    display: inline;
    width: 20%;
}

#totals {
    padding: 0 10px;
}

#totals #line {
    overflow-x: visible;
    width: 110%;
}

#cartContainer {
    width: 45%;
    margin: 175px auto 0 auto;
    display: flex;
    flex-direction: column;
    border: 5px solid #F49110;
    border-radius: 35px;
    background-color: white;
}

#cartTitle {
    font-family: 'Rubrik', Arial, Helvetica, sans-serif;
    font-size: 24px;
    align-self: center;
}

#cartTitle em {
    color: #F49110;
    font-weight: bold;
}

.addy {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 16px;
    margin: auto;
    font-family: 'Rubrik', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#empty p {
    text-align: center;
}
/*




ADMIN PAGE STYLING



*/
.orderTick {
    display: flex;
    justify-content: flex-start;
    position: relative;
    font-size: x-large;
    top: -60px;
    margin-bottom: -40px;
    width: min-content;
}

.orderTick a {
    padding: 0 10px 0 10px;
    width: 100%;
    color: #F49110;
    font-size: 32px;
}

.orderTick a:hover {
    background-color: #F49110;
    color: white;
    border-radius: 100%;
    text-decoration: none;
    transition:0.1s ease-in-out;
}

#ordContainer {
    padding-top:50px; 
    background:#F49110;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
}

.orderBox {
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    align-self:center; 
    box-shadow: 0 0 10px black;
}

.rInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-top: 5px;
    font-family: Helvetica, Arial, sans-serif;
}

.line {
    margin: auto;
    width: 97%;
    height: 1px;
    background-color: #F49110;
}

#background {
    background-color: rgb(209, 207, 207);
    height: 2000px;
    width: 100%;
    position: fixed;
    z-index: -1;
    margin-top: -250px;
}

#ordContainer img {
    align-self: center;
   
    margin-bottom: -50px;
    margin-top: -20px;
  
}

.quant {
    background-color: #F49110;
    align-self: center;
    border-radius: 5px;
    padding: 0px 0px 0px 5px;
    margin-right: 10px;
    margin-left: 6px;
}

.time {
    font-size: small;
    align-self: center;
}

#pageBar {
    margin-left: 45%;
    margin-top: 25px;
}
#ordContainer a {
    display:flex;
    justify-content:center;  
    text-decoration: none;
    width: 100%;
}

#ordContainer #shopNow:hover {
    
    cursor: pointer;
    text-decoration:none; 
    border:3px solid #F49110; 
    color:#F49110;
    box-shadow: 0 0 10px black;
    transition:.25s ease-in-out; 
}
#ordContainer a:hover{
    text-decoration:none; 
}
/*



CREATE AND EDIT FORM STYLING




*/ 
.createSubmit2 {
    display: flex;
    justify-content: center;
}
.createSubmit2 button {
    margin: 50px 0px;
    width: 95%;
    background-color: #7cadc8;
    border: none;
    padding: 15px;
    box-shadow: 0 0 10px black; 
    font-family:'League Gothic', Arial, Helvetica, sans-serif; 
    font-size:32px;     
}

.createSubmit2 button:hover {
    background-color: #F49110;
    color: black;
    transition: 0.25s ease-in-out; 
}
#formContainer {
    align-self:center;
    margin:75px 0px;
    color:#7cadc8;
    width:50%; 
    background:rgb(40,40,40); 
    box-shadow: 0 0 20px black;
    
}
.createInput, .createInput2 {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    

}

.form-label {
    align-self: flex-start;
    text-emphasis: bold;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Rubrik', Arial, Helvetica, sans-serif;

}

.createInput input {
    border: none;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
}


.createInput input:hover {
    cursor: pointer;
    background-color: #bc700c;
}

.createInput input:focus {
    outline: 1px solid #F49110;
    background-color: white;
}

.createInput #file {
    width: min-content;
    overflow-x: hidden;
}
#file input:active {
    background:none; 
}

.createInput2 input {
    border: 1px solid #F49110;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    margin-bottom: -20px;

}

.createInput2 label {
    color: #F49110;
    text-decoration: underline;
    cursor: pointer;
}

.createInput2 label:hover {
    color: rgba(255, 145, 0, 0.7);
    text-decoration-color: rgba(244, 145, 16, 0.7);
    transition: 0.15s ease-in-out;
}

.createInput2 input:hover {
    cursor: pointer;
    background-color: rgba(255, 145, 0, 0.7);;
}

.createInput2 input:focus {
    outline: 1px solid #F49110;
    background-color: white;
}

#tagCont button {
    border: none;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

#tagCont input {
    margin-bottom: -50px;
}

#addTag button {
    background: none;
    border: none;
    position: relative;
    left: 430px;
    top: -60px;
    font-size: 34px;
    color: #F49110;
}

#addTag button:hover {
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    color: black;
    transition: 0.15s ease-in-out;
}

#addTag input {
    width: 100%;
    padding: 20px;
    font-size: 18px;
}

#addTag input:hover {
    border: 1px solid #F49110;
    cursor: pointer;
    background-color: rgba(244, 145, 16, 0.7);
}

#addTag input:focus {
    outline: none;
    border: 1px solid #F49110;
    background-color: white;
}

#addTag i {
    font-size: 12px;
}
/*




FOOTER STYLING




*/
#footer {
    background: rgb(40, 40, 40);
    border-top: 2px solid #7cadc8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #7cadc8;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}
.fSection h3 {
    font-family: 'League Gothic', Arial, Helvetica, sans-serif; 
    font-size:28px; 
}
.fSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #7cadc8;
    width: 33%;
    padding: 0px 30px;
}

.fSection ul {
    list-style-type: none;
    margin-left: -35px;
    margin-top: 10px;
    font-size: x-large;

}

.fSection li {
    margin-top: 10px;

}

.fSection a {
    color: #7cadc8;
}

.fSection a:active {
    color: #7cadc8;
}

.fSection a:hover {
    color: #6892a8;
}

#contact {
    display: flex;
    flex-direction: column;
}

.cInfo span {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.cInfo {
    margin-top: 10px;
}

.cInfo h5 {

    margin-right: 3px;
}